.container {
    width: 98%;
}

.bank_string {
    color: lightgrey;
}

.bank_string:hover {
    color: black;
}

table.finance th.left {
    text-align: left;
}

table.finance td, table.finance th {
    text-align: right;
    font-size: 0.8em;
}

td.currency, th.currency {
    text-align: right;
}

td.currency {
    font-family:"Monospace";
    font-size: 0.9em;
}


.unreconciled::before { content: "* "; }

.debit, .negative {
    color: red;
}
