<div>
  <div class="row">
    <div class="col-sm-3" >
      <label >{{title}}:</label>
      <input name="{{name}}" type="number" ng-model="selected.id" ng-show="false">

    </div>
    <div class="col-sm-9" >

      <select ng-model="selected" ng-options="account.name for account in accounts" ng-show="!editing"> </select>

      <div ng-show="editing">
        <br/>Name             <input type="text"      ng-model="selected.name" >
        <br/>Opening Balance  <input type="text"      ng-model="selected.opening_balance" >
        <br/>Sort Code        <input type="text"      ng-model="selected.sort_code" >
        <br/>Account Number   <input type="text"      ng-model="selected.acc_number" >
        <br/>Notes            <input type="text"      ng-model="selected.notes" >
        <br/>Open             <input type="checkbox"  ng-model="selected.open" >
      </div>

      <button class="btn btn-default btn-sm" ng-click="edit()"    ng-show="!editing && selected.id">   <i class="fa fa-edit fa-lg">        </i>  </button>
      <button class="btn btn-default btn-sm" ng-click="newItem()" ng-show="!editing">                  <i class="fa fa-plus-circle fa-lg"> </i>  </button>
      <button class="btn btn-default btn-sm" ng-click="save()"    ng-show="editing" >                  <i class="fa fa-save fa-lg">        </i>  </button>
      <button class="btn btn-default btn-sm" ng-click="cancel()"  ng-show="editing" >                  <i class="fa fa-undo fa-lg">        </i>  </button>

    </div>
  </div>
  <json-view ng-model="selected" title="account"></json-view>
</div>