<table class="table table-striped finance">
    <thead>
    <tr>
        <th class="left"> Category</th>
        <th> Totals</th>
        <th ng-repeat="month in data.months">
            {{month.month}}
        </th>

    </tr>

    <tr>
        <th class="left"> Total movement</th>
        <th> {{ data.net_total | currency: "£" }}</th>
        <th ng-repeat="month in data.months">
            {{ month.net_total | currency: "£" }}
        </th>

    </tr>
    </thead>


    <tbody>
        <tr ng-repeat="category in categories | filter: creditFilter | orderBy:fullName">

            <th class="left">
                <category ngModel="category.fullName" category_id="category.category_id"></category>
            </th>

            <td>
                <category-report-cell val="credit" category_id="category.category_id"></category-report-cell>
            </td>

            <td ng-repeat="month in data.months">
                <category-report-cell val="credit" category_id="category.category_id"
                                      month="month.month"></category-report-cell>
            </td>
        </tr>
    </tbody>

    <thead>
    <tr>
        <th class="left"> Total credit</th>
        <th> {{ data.credit_total | currency: "£" }}</th>
        <th ng-repeat="month in data.months">
            {{ month.credit_total | currency: "£" }}
        </th>

    </tr>
    </thead>


    <tbody>
    <tr ng-repeat="category in categories | filter: debitFilter | orderBy:fullName">

        <th class="left">
            <category ngModel="category.fullName" category_id="category.category_id"/>
        </th>

        <td>
            <category-report-cell val="debit" category_id="category.category_id"></category-report-cell>
        </td>

        <td ng-repeat="month in data.months">
            <category-report-cell val="debit" category_id="category.category_id"
                                  month="month.month"></category-report-cell>
        </td>

    </tr>
    </tbody>

    <thead>
    <tr>
        <th class="left"> Total debit</th>
        <th> {{data.debit_total | currency: "£" }}</th>
        <th ng-repeat="month in data.months">
            {{month.debit_total | currency: "£" }}
        </th>

    </tr>
    </thead>


</table>
