<div>
<!--  <h3>Category</h3>-->
  <div class="row">
      <label class="col-sm-3" >    Category:</label>
    <div class="col-sm-9" >
          <input autocomplete="off"
                 type="text"
                 ng-model="selected"
                 typeahead="record as record.fullName for record in lookupRecords($viewValue) | filter:$viewValue"
                 typeahead-on-select="onSelect($item)"
                 class="form-control"
                 ng-show="!editing"
                  >
          <input autocomplete="off" type="text" ng-model="selected.name" class="form-control" ng-show="editing">
      </div>
  </div>
  <div class="row" ng-hide="false">
    <div class="col-sm-10" ></div>
    <div class="col-sm-2" >
      <button class="btn btn-default btn-sm" ng-click="edit()"            ng-show="selected.id && !editing">  <i class="fa fa-edit fa-lg">        </i>  </button>
      <button class="btn btn-default btn-sm" ng-click="add($viewValue)"   ng-show="selected && !selected.id"> <i class="fa fa-plus-circle fa-lg"> </i>  </button>
      <button class="btn btn-default btn-sm" ng-click="save()"            ng-show="selected.id && editing" >  <i class="fa fa-save fa-lg">        </i>  </button>
      <button class="btn btn-default btn-sm" ng-click="cancel()"          ng-show="selected.id && editing" >  <i class="fa fa-undo fa-lg">        </i>  </button>
    </div>
  </div>
  <json-view ng-model="selected" title="category"></json-view>
</div>