<table class="table table-striped">
  <thead>
  <tr>
    <th>  Category   </th>
    <th>  Totals    </th>
    <th ng-repeat="month in data.months">
      {{month.month}}
    </th>

  </tr>
  </thead>

  <tr ng-repeat="category in categories | filter: creditFilter">

    <th>
      {{category.category_id}}
    </th>

    <td>
      <category-report-cell category_id="category.category_id" >  </category-report-cell>
    </td>

    <td ng-repeat="month in data.months">
      <category-report-cell category_id="category.category_id" month="month.month" > </category-report-cell>
    </td>



  </tr>

  <tbody>


  </tbody>

</table>
