<div ng-show="map.bank_string_id">
  <h3>Bulk update: </h3>
  <p>{{map.bank_string}}</p>

  <form novalidate role="form" class="form-horizontal">

    <account-selector ng-model="map.account" linked-account="true">
      Account
    </account-selector>

    <account-selector ng-model="map.transfer" emit-message="updatedTransfer" optional="true">
      Transfer
    </account-selector>

    <standing-order-selector ng-model="map.standing_order" optional="true">      Standing Order    </standing-order-selector>

    <payee-selector ng-model="map.payee" >        </payee-selector>

    <category-selector ng-model="map.category" >  </category-selector>

    <div class="form-group">
      <button ng-click="reset()">Reset</button>
      <button type="submit" ng-click="mapUpdate(map.bank_string_id)">Create Map</button>
    </div>

  </form>

  <div ng-show="success">{{success}}</div>
  <json-view ng-model="map" title="map"></json-view>
</div>