<div>
  <h3>Edit Standing Order</h3>
  <form novalidate role="form" class="form-horizontal">

    <div class="form-group">
      <label class="col-sm-3" for="transaction_amount">    Amount:</label>
      <div class="col-sm-9"><input id="transaction_amount"   type="number"    ng-model="selected.amount" /></div>
    </div>

    <div class="form-group">
      <label class="col-sm-3" for="transaction_date">  Date </label>
      <div class="col-sm-9"><input id="transaction_date"   type="date" ng-model="transaction.date"></div>
    </div>

    <account-selector ng-model="selected.account" linked-account="true"></account-selector>

    <account-selector ng-model="selected.transfer" emit-message="Transfer" optional="true">
      Transfer
    </account-selector>

    <payee-selector ng-model="selected.payee" >        </payee-selector>

    <category-selector ng-model="selected.category" >  </category-selector>

    <div class="form-group">
      <label class="col-sm-3" for="selected_reconciled">    Reconciled:</label>
      <div class="col-sm-9">
        <input id="selected_reconciled"
               type="checkbox" ng-model="selected.reconciled" ng-true-value=true ng-false-value=false />
      </div>
    </div>

  </form>

  <div ng-show="success">{{success}}</div>
  <json-view ng-model="selected" title="selected"></json-view>
</div>