<table class="table table-striped">

  <thead>
  <tr>
    <th><a href="" ng-click="sort('account.name');">      Account</a></th>
    <th><a href="" ng-click="sort('name');">              Name</a></th>
    <th><a href="" ng-click="sort('next_date');">         Next Date</a></th>
    <th><a href="" ng-click="sort('days');">              Frequency</a></th>
    <th><a href="" ng-click="sort('amount');">            Credit</a></th>
    <th><a href="" ng-click="sort('amount');">            Debit</a></th>
    <th><a href="" ng-click="sort('payee.name');">        Payee</a></th>
    <th><a href="" ng-click="sort('category.fullName');"> Category</a></th>
  </tr>
  </thead>

  <tbody>
    <tr ng-repeat="so in standingOrders|orderBy:predicate:reverse" class="standingOrders" ng-mouseover="showEdit=true" ng-mouseout="showEdit=false">
      <td>{{so.account.name}}           </td>
      <td>{{so.name}} </td>
      <td>{{so.next_date    | date:'dd/MM/yy'  }}       </td>
      <td>{{so.frequency}} </td>
      <td>
        <span ng-show="so.amount>0">{{ so.amount  | currency: "£" }}   </span>
      </td>
      <td>
        <span ng-show="so.amount<0">{{ so.amount *-1 | currency: "£" }}   </span>
      </td>
      <td>{{so.payee.name}}                             </td>
      <td>{{so.category.fullName}}                      </td>
    </tr>
  </tbody>

</table>