<div>
  <div class="row">
    <label class="col-sm-3" >Standing Order:</label>
    <input name="{{id_name}}" type="number" ng-model="selected.id" ng-show="false">
    <div class="col-sm-9" >
      <select ng-model="selected" ng-options="standingOrder.name for standingOrder in standingOrders|orderBy:predicate" ng-show="!editing"> </select>
    </div>
  </div>
  <div class="row" ng-hide="true">
<!--
    <div class="col-sm-10" ></div>
    <div class="col-sm-2" >
      <button class="btn btn-default btn-sm" ng-click="edit()"            ng-show="selected.id && !editing">  <i class="fa fa-edit fa-lg">        </i>  </button>
      <button class="btn btn-default btn-sm" ng-click="add($viewValue)"   ng-show="selected && !selected.id"> <i class="fa fa-plus-circle fa-lg"> </i>  </button>
      <button class="btn btn-default btn-sm" ng-click="save()"            ng-show="selected.id && editing" >  <i class="fa fa-save fa-lg">        </i>  </button>
      <button class="btn btn-default btn-sm" ng-click="cancel()"          ng-show="selected.id && editing" >  <i class="fa fa-undo fa-lg">        </i>  </button>
    </div>
-->
  </div>

</div>